/* Colors Palette
 * White: FFFFFF
 * Mint Cream: F2F7F2
 * Prusian Blue: 0D1F2D
 * Vivid Tangerine: EB9486
 * Rhythm: 7E7F9A
 */

* {
    font-family: 'Arvo', serif;
}

html {
    font-size: 16px;
    color: #0D1F2D;
}

body {
    /* cut off content that goes over the side of the page */
    overflow-x: hidden;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #EB9486;
}

h3 {
    font-size: 1.5rem;
    color: #0D1F2D;
}

.pronouns {
    font-style: italic;
}

a {
    color: #0D1F2D;
    text-emphasis: none;
}

.btn {
    font-weight: bold;
    letter-spacing: 0.2em;
}

/* BEGIN LANDING */

.landing {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.landing__wrapper {
    position: relative;
    width: 100%;
    text-align: center;
}

.landing__wrapper > iFrame {
    position: absolute;
    width: 100vw;
    height: 150vh;
    transform: translate(calc(-50% - 100px), calc(-50% + 100px));
    z-index: -99;
    opacity: 0.5;
}

.landing__wrapper > img {
    width: 200px;
    border-radius: 1000px;
    border: 8px solid #F2F7F2;
}

.landing__wrapper__container {
    width: 100%;
}

.landing__wrapper__container > h1, .landing__wrapper__container > p {
    padding: 0.4em 20px;
    background-color: #F2F7F2;
}

.landing__wrapper__container > button {
    margin: 0 10px 0 10px;
}

/* END LANDING */

/* BEGIN HEADER -- depricated */

.header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* profile photo */
.header__wrapper > img {
    /* image slightly overlaps the div below */
    z-index: 1;
    position: relative;
    bottom: -0.5em;

    width: 100px;
    border-radius: 1000px;
    border: 5px solid #F2F7F2;
}

.header__wrapper__ribbon {
    /* give room for the image above to overlap this div */
    padding: 0.5em;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    border: 0.1em solid #F2F7F2;
}

.header__wrapper__ribbon > * {
    line-height: 1.5em;
}

.header__wrapper__ribbon #splash {
    padding: 0 1em 0 1em;
    margin-bottom: 0.5em;
}

.header__wrapper__ribbon > .btn {
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #0D1F2D;
    color: white;
}

/* END HEADER */

/* BEGIN MAIN */

.main {
    padding: 25px;
    background-color: #0D1F2D;
}

.main__body {
    margin: 0 auto;
    max-width: 800px;
}

/* BEGIN PORTFOLIO */

.portfolio__container {
    /* display: flex;
    flex-direction: column; */
    padding: 10px;
}

/* BEGIN PROJECT CARD */

.portfolio__card {
    border-radius: 10px;
    margin: 20px 0 20px 0;
    background-color: #F2F7F2;
    border: 1px solid #0D1F2D;
}

.portfolio__card .title {
    margin: 0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #F2F7F2;
}

.portfolio__card .image {
    height: 200px;
    width: 100%;
    background-size: 105%;
    background-position: top;
    /* default image to display */
    background-image: url('https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.portfolio__card .description {
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.description:hover {
    color: #0D1F2D;
    text-decoration: none;
}

.description:link {
    color: #0D1F2D;
    text-decoration: none;
}

/* END PROJECT CARD */

/* END PORTFOLIO */

/* END MAIN */

/* BEGIN ABOUT */

.about-me__body {
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* END ABOUT */

/* BEGIN CONTACT */

.contact {
    background-color: #7E7F9A;
}

.contact__body {
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #F2F7F2;
}

.contact__body > button {
    margin-top: 20px;
    width: 100%;
}

/* END CONTACT */

/* BEGIN MODAL */

#contactModal {
    text-align: center;
}

#contactModal h3 {
    font-size: 2rem;
}

/* END MODAL */

/* TABLET */
@media only screen and (min-width: 600px) {
    html {
        font-size: 20px;    
    }

    .header__wrapper {
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        max-width: 800px;
    }
    
    /* profile photo */
    .header__wrapper > img {
        /* image slightly overlaps the div to the right */
        bottom: 0;
        left: 1em;
        transform: translate(0, calc(50% - 2em));
    }

    .header__wrapper__ribbon {
        /* margin-left: 200px; */
        height: 4.2em;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        background-color: white;
        border-radius: 0 5em 5em 0;
    }

    .header__wrapper__ribbon > #splash {
        text-align: left;
    }

    /* contact button */
    .header__wrapper__ribbon > .button {
        /* push to the right */
        margin-left: auto;
    }

    .header__wrapper__ribbon > .btn {
        border-radius: 0 5em 5em 0;
    }
}