* {
    font-family: 'Arvo', serif;
}

html {
    font-size: 15px;
}

.pronouns {
    font-style: italic;
}

iFrame {
    position: fixed;
    height: 200vh;
    min-width: 100vh;
    width: 200vw;
    transform: translate(-25%, -25%);
    z-index: -99;
}

/* BEGIN LANDING */

.landing {
    height: 100vh;
    width: 100vw;
    text-align: center;
    line-height: 100vh;
}

.landing > img {
    display: inline-block;
    width: 200px;
    border-radius: 1000px;
    border: 8px solid whitesmoke;
}

/* END LANDING */

/* BEGIN HEADER */

header {
    /* background: indigo; */
}

.header__wrapper {
    text-align: center;
    justify-content: stretch;
    /* background: indigo; */
}

/* profile photo */
.header__wrapper > img {
    /* image slightly overlaps the div below */
    z-index: 1;
    position: relative;
    bottom: -0.5em;

    width: 100px;
    border-radius: 1000px;
    border: 5px solid whitesmoke;
}

.header__wrapper__ribbon {
    /* give room for the image above to overlap this div */
    padding: 0.5em;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    border: 5px solid whitesmoke;
}

.header__wrapper__ribbon > * {
    line-height: 1.5em;
}

.header__wrapper__ribbon #about-me {
    padding: 0 1em 0 1em;
    margin-bottom: 0.5em;
}

.header__wrapper__ribbon > .btn {
    border-radius: 10px;
    text-transform: uppercase;
    background-color: grey;
    color: white;
}

/* END HEADER */

/* BEGIN MAIN */

.main__wrapper {
    margin: 0 auto;
    max-width: 800px;
}

/* BEGIN PORTFOLIO */

section#portfolio {
    padding: 10px;
}

h1 {
    text-decoration: underline;
    font-size: 1.5rem;
}

/* BEGIN PROJECT CARD */

section .card {
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

section .card .title {
    margin: 0;
    padding: 10px;
    background-color: rgba(0.25, 0.25, 0.25, 0.5);
    color: white;
    border-radius: 10px 10px 0 0;
}

section .card .image {
    height: 250px;
    width: 100%;
    background-size: 105%;
    background-position: top;
    /* default image to display */
    background-image: url('https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

section .card .description {
    padding: 10px;
    background-color: rgba(0.25, 0.25, 0.25, 0.5);
    color: white;
    border-radius: 0 0 10px 10px;
}

/* END PROJECT CARD */

/* END PORTFOLIO */

/* END MAIN */

/* BEGIN MODAL */

#contactModal {
    text-align: center;
}

#contactModal h3 {
    font-size: 2rem;
}

/* END MODAL */

/* TABLET */
@media only screen and (min-width: 600px) {
    .header__wrapper {
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        max-width: 800px;
    }
    
    /* profile photo */
    .header__wrapper > img {
        /* image slightly overlaps the div to the right */
        bottom: 0;
        left: 1em;
        transform: translate(0, calc(50% - 2em));
    }

    .header__wrapper__ribbon {
        /* margin-left: 200px; */
        height: 4em;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        background-color: white;
    }

    .header__wrapper__ribbon > #about-me {
        text-align: left;
    }

    /* contact button */
    .header__wrapper__ribbon > .button {
        /* push to the right */
        margin-left: auto;
    }

    .main {
        padding: 75px;
    }
}