.profile-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.profile {
    position: relative;
    grid-row: 2;
    padding: 30px 20px 10px 20px;
    text-align: left;
    background-color: #f5fffa;
    border-top: 4px solid #CCC;
    border-bottom: 4px solid #CCC;
}

.profile-photo {
    position: absolute;
    left: 20px;
    top: -100px;
    width: 120px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #CCC;
}

.profile-name {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
}

.profile-pronouns {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    color: #666;
}

.profile-title {
    width: 100%;
    text-align: left;
    font-size: 1rem;
}

@media only screen and (min-width: 770px) {
    
    .profile-wrapper {
        display: grid;
        grid-template-rows: fit-content(300px) 1fr;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .profile {
        position: relative;
        grid-row: 1;
        padding: 0 20px 0 20px;
        text-align: center;
        border: 0;
    }

    .profile-photo-wrapper {
        position: relative;
        width: 100%;
        padding-top: calc(100% - 100px);
        margin-bottom: 20px;
    }
    
    .profile-photo {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 50%;
        border: 4px solid #CCC;
    }

    .profile-name {
        font-size: 2rem;
    }
    
    .profile-pronouns {
        font-size: 1.5rem;
        color: #666;
    }
    
    .profile-title {
        font-size: 1.2rem;
    }
}