.projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    overflow: visible;
}

@media only screen and (min-width: 550px) {
    .projects-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 770px) {
    .projects-container {
        gap: 20px;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 1000px) {
    .projects-container {
        grid-template-columns: 1fr 1fr;
    }
}