.projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
    overflow: visible;
}

@media only screen and (min-width: 770px) {
    .projects-container {
        padding: 0;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}