.contact {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    border-width: 4px;
    border-color: #1B1D24;
    background-color: #24292E;
    color: white;
}

.contact-name {
    font-size: 2rem;
    font-weight: bold;
}

.contact-pronouns {
    font-size: 1.5rem;
    color: #666;
}

.contact-email {
    font-size: 1.5rem;
}